@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    font-family: 'varela round';
    background: linear-gradient(to right,rgb(237, 93, 117),rgb(86, 86, 228));
}
table
{

    border: 2px solid black;
    border-collapse: collapse;
    width: 350px;
    margin-left: 20px;
    margin-right: auto;
}
th,td
{
    border: 2px solid black;
}
th
{
    background: rgb(231, 59, 94);
}
.top
{
    background-color: purple;    
}
.top,th
{
    color: white;
}
tr{
    background-color: white;
    color: black;
}
.blocks
{
    border: 1px solid black;
    width: 400px;
    margin: 10px auto 10px auto;
    padding-bottom: 20px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color:rgb(89, 221, 89); 
}
main
{
    width: 600px;
    background: linear-gradient(to right,rgb(239, 239, 151),rgb(255, 140, 0));
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-bottom: 20px;
    border-radius: 10%;
}
.g1
{
    margin-left: 20px;
    margin-bottom: 0px; 
}
img
{
    height: 1em;
    width: 1.2em;

}